
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{asset("css/main.css")}}">{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<main class="container my-5">
    {% block body %}

        <h1>Liste des étudiants</h1>
        <table class="table table-dark"  border="1">
            <tr>
                <td>Id</td>
                <td>FirstName</td>
                <td>LastName</td>
                <td>Supprimer</td>
                <td>Modifier</td>
            </tr>
            {% for etudiant in etudiants %}
                <tr>
                    <td>{{ etudiant.id }}</td>
                    <td>{{ etudiant.firstName }}</td>
                    <td>{{ etudiant.lastName }}</td>
                    <td><a href="{{path ("supprimer_etudiant" , {'id' : etudiant.id}) }}">Supprimer</a> </td>
                    <td><a href="{{ path ("modifier_etudiant" , {'id' : etudiant.id}) }}">Modifier</a></td>
                </tr>
            {% endfor %}
        </table>

    {% endblock %}
    {% block javascripts %}
    {% endblock %}
</main>
</body>
</html>
